html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .asides-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .asides-container aside {
        font-size: large;
    }

    article, footer {
        font-size: x-large;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header li {
        list-style: none;
        display: inline-block;
        margin-left: 10px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .asides-container {
        display: flex;
        justify-content: flex-start;
    }

    .asides-container aside {
        font-size: medium;
    }

    article {
        font-size: large;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header li {
        list-style: none;
        display: inline-block;
        margin-left: 10px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 80%;
        margin: auto;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header li {
        list-style: none;
        display: inline-block;
        margin-left: 10px;
    }
}