h1, p {
    text-align: center;
}

ol, ul {
    list-style: none;
}

ol:hover {
    background-color: aquamarine;
}

li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
