.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    bottom: 45%;
  }
  
  .baloon {
    position: absolute;
    bottom: 5px;
    z-index: 1;
    right: 50%;
    top: 5%;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    bottom: 5px;
    z-index: 2;
    right: 53%;
    top: 9%;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    right: 35%;
    top: 20%;
  }